<div class="card bg-base-200 shadow-lg w-full">
    <div class="card-body p-4">
        <ng-container *ngIf="data">
            <app-section-how-to-obtain [text]="data.details.howToObtain" />
            <app-section-unlocks [unlocks]="data.details.unlocks" />
            <app-section-trade [trades]="data.details.trades" />
            <app-section-home-requirements [homeRequirements]="data.details.homeRequirements" />
        </ng-container>

        <app-section-collaborate />
    </div>
</div>
