<div class="w-full flex gap-6 items-start">
  <!-- Details -->
  <div class="card bg-base-200 shadow-lg flex-1 min-w-[400px]">
    <div class="card-body p-4 flex gap-6">
      <div class="flex-1 flex flex-col gap-4">
        <ng-container *ngIf="data">
          <app-section-how-to-obtain [text]="data.details.howToObtain" />
          <app-section-unlocks [unlocks]="data.details.unlocks" />
          <app-section-home-requirements [homeRequirements]="data.details.homeRequirements" />
        </ng-container>
        <app-section-collaborate />
      </div>
    </div>
  </div>

  <!-- Trades -->
  <div class="shrink-0 w-72">
    <div class="card bg-base-200 shadow-lg w-full min-w-[400px]">
      <div class="card-body p-4">
        <ng-container *ngIf="data">
          <app-section-trade [trades]="data.details.trades" />
        </ng-container>
      </div>
    </div>
  </div>
</div>
