<div class="flex flex-col lg:flex-row gap-4 lg:gap-8">
    <!-- Table container with responsive behavior -->
    <div class="flex-1">
        <div class="npcs-table-container">
            <app-shared-table
                [columns]="npcColumns"
                [data]="npcs()"
                (rowClicked)="onRowClicked($event)"
                (searchPerformed)="clearSelectedNpc()"
                [selectedId]="selectedId()" />
        </div>
    </div>

    <!-- Selected NPC details -->
    @if (selectedNpc(); as npc) {
    <div class="w-full lg:w-auto">
        <div class="flex flex-col sm:flex-row gap-4 sm:gap-6 flex-wrap">
            <!-- NPC Details-->
            <div class="w-full sm:w-[calc(50%-12px)] md:w-72 lg:w-80 xl:w-96 min-w-[280px] mb-4">
                <app-details-card [data]="npc" />
            </div>

            <!-- NPC Trades-->
            <div class="w-full sm:w-[calc(50%-12px)] md:w-72 lg:w-80 xl:w-96 min-w-[280px] mb-4">
                <app-trades-card [trades]="npc.details.trades" />
            </div>
        </div>
    </div>
    }
</div>
