<ul class="menu bg-base-300 rounded-box shadow-lg w-40">
    <!-- NPCs -->
    <li>
      <a [routerLink]="['/npcs']" routerLinkActive="router-link-active menu-active">NPCs</a>
      <ul>
        <li><a>Guide<span class="badge badge-xs badge-accent">NEW</span></a></li>
        <!-- more to add -->
      </ul>
    </li>

    <!-- Items -->
    <li class="menu-disabled">
        <a [routerLink]="['/items']" routerLinkActive="router-link-active menu-active">Items</a>
        <ul>
            <li><a></a></li>
            <!-- more to add -->
        </ul>
    </li>
</ul>
