<ul class="menu bg-neutral text-neutral-content rounded-box w-40">
  <!-- NPCs -->
  <li>
    <details open>
      <summary>NPCs</summary>
      <ul>
        <li>
          <a [routerLink]="['/npcs']" routerLinkActive="router-link-active">
            Guide
            <span class="badge badge-xs badge-warning">NEW</span>
          </a>
        </li>
        <!-- more to add -->
      </ul>
    </details>
  </li>

  <!-- Items -->
  <li>
    <details open>
      <summary>Items</summary>
      <ul>
        <li>
          <a [routerLink]="['/items']" routerLinkActive="router-link-active"
            >Armors</a
          >
        </li>
        <!-- more to add -->
      </ul>
    </details>
  </li>
</ul>
