<div class="card bg-base-300 w-full md:w-96 shadow-sm">
    <figure>
        <img src="assets/images/npcs_card.png" alt="NPCs illustration" class="w-full h-36 object-cover" />
    </figure>
    <div class="card-body">
        <h2 class="card-title">
            NPCs Encyclopedia
            <div class="badge badge-xs badge-accent">NEW</div>
        </h2>
        <p>
            Explore a complete encyclopedia of all NPCs in the game. Discover their locations, tradeable items and unique interactions. Perfect for both new and
            experienced adventurers!
        </p>
        <div class="card-actions justify-end">
            <a [routerLink]="['/npcs']" class="btn btn-soft btn-sm shadow-md transition-transform hover:scale-105"> Explore NPCs Section </a>
        </div>
    </div>
</div>
