<section class="bg-base-200 flex-1 card shadow rounded-box p-6">
    <h2 class="card-title text-2xl font-bold mb-2">Welcome to TinkerVault!</h2>
    <p class="mb-4">
        TinkerVault is your Tinkerlands knowledge vault. Here you can browse NPCs, items, and guides contributed by the community. Use the sidebar to navigate
        and discover all the content.
    </p>
    <ul class="list-disc list-inside text-sm text-base-content/70">
        <li>
            <a routerLink="/npcs" class="text-inherit">Browse NPCs <span class="badge badge-xs badge-primary">WORK IN PROGRESS</span></a>
        </li>
        <li>Browse Items <span class="badge badge-xs badge-dash">TO-DO</span></li>
        <li>
            <button class="bg-transparent border-0 p-0 h-auto min-h-0 text-inherit font-inherit cursor-pointer" (click)="modal.open()" style="box-shadow: none">
                Submit info
            </button>
        </li>
    </ul>

    <app-modal-submit-info #modal />
</section>
