<div>
    <div class="dropdown dropdown-hover dropdown-left">
        <button type="button" tabindex="0" class="icon-button btn btn-xs btn-ghost">
            <i-lucide [img]="iconInfo" [size]="18" [strokeWidth]="1" />
        </button>

        <div tabindex="0" class="dropdown-content border border-base-content/10 menu bg-base-100 rounded-box shadow w-64 p-4 z-20 text-xs">
            <h2 class="font-semibold mb-2 text-sm">About Top Contributors</h2>
            <p class="mb-2">
                <span class="font-medium">How it works:</span>
            </p>
            <ul class="list-disc list-inside mb-2 pl-3 space-y-1">
                <li>Each valid contribution (via email, Discord, etc.) earns 1 point.</li>
                <li>Contributions include info, corrections, suggestions, or resources.</li>
                <li>More points = higher ranking!</li>
            </ul>
            <p class="text-[11px] text-base-content/70 mt-2">Want to be listed? Contact us and help TinkerVault grow!</p>
        </div>
    </div>
</div>
