<div class="dropdown dropdown-end">
    <button type="button" tabindex="0" class="icon-button btn btn-xs btn-ghost">
        <i-lucide [img]="iconMenu" [size]="20" />
    </button>
    <ul tabindex="0" class="dropdown-content menu w-56">
        <li class="menu-disabled">
            <a>About us<span class="badge badge-xs badge-warning">TO-DO</span></a>
        </li>
        <li class="menu-disabled">
            <a> Submit info!<span class="badge badge-xs badge-warning">TO-DO</span></a>
        </li>
    </ul>
</div>
