<section class="bg-base-100 rounded-lg shadow p-4 text-xs flex flex-col gap-2">
    <h3 class="text-base font-bold flex items-center gap-2 mb-1">
        <span>Home Requirements</span>
    </h3>
    <div *ngIf="homeRequirements?.length; else noHomeRequirements">
        <ul>
            <li class="opacity-70 mb-1" *ngFor="let requirement of homeRequirements">
                {{ requirement }}
            </li>
        </ul>
    </div>

    <ng-template #noHomeRequirements>
        <p class="opacity-50 italic">No info about this.</p>
    </ng-template>
</section>
